/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
#env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


#custom
#/public/fonts
#/public/dist
/public/warehouse
#/public/images
#/resources/sass/packages
#/resources/js/custom/constants.js
#/public/cache
#/public/js/app.js
#/public/js/cropper
#/public/js/tinymceConfig.js
#/public/css/
#/public/sitemap.xml
#/public/sitemap/
#/storage/framework/laravel-excel
